<!DOCTYPE html>
{% load static from staticfiles %}

<html lang="en" xml:lang="en">

<head>
    <title>{% block title %}{% endblock %} | PyInvoice</title>
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="{% static 'stylesheets/materialize.css' %}" media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'imgs/favicons/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'imgs/favicons/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'imgs/favicons/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'imgs/favicons/manifest.json' %}">
    <link rel="mask-icon" href="{% static 'imgs/favicons/safari-pinned-tab.svg' %}" color="#414142">
    <link rel="shortcut icon" href="{% static 'imgs/favicons/favicon.ico' %}">
    <meta name="theme-color" content="#414142">
    <meta name="msapplication-config" content="{% static 'imgs/favicons/browserconfig.xml' %}">
    <meta name="apple-mobile-web-app-title" content="Harry Bridge">
    <meta name="application-name" content="Harry Bridge">
</head>


<header>
    <nav>
        <div class="nav-wrapper">
            <a href="/" class="brand-logo"><img class="navbar-logo" src="{% static 'imgs/invoice-logo.png' %}"></a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a class="dropdown-button" href="#" data-activates="invoice_dropdown">Invoice<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#" data-activates="expense_dropdown">Expenses<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#" data-activates="company_dropdown">Company<i class="material-icons right">arrow_drop_down</i></a></li>
                    <li><a class="dropdown-button" href="#" data-activates="user_dropdown">{{ user.first_name|default:user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next=/">Login</a></li>
                {% endif %}
            </ul>
            <ul class="side-nav" id="mobile-demo">
                {% if user.is_authenticated %}
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'invoice_list' %}">View Invoices</a></li>
                    <li><a href="{% url 'invoice_create' %}">Create Invoice</a></li>
                    <li><a href="{% url 'company_list' %}">View Companies</a></li>
                    <li><a href="{% url 'company_create' %}">Create Company</a></li>
                    {% if user.is_staff or user.is_superuser %}
                        <li><a href="/admin/">Admin</a></li>
                    {% endif %}
                    <li><a href="{% url 'profile_detail' user.id %}">Create Company</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'login' %}?next=/">Login</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <ul id="invoice_dropdown" class="dropdown-content">
        <li><a href="{% url 'invoice_list' %}">View All</a></li>
        <li><a href="{% url 'invoice_create' %}">Create</a></li>
    </ul>

    <ul id="expense_dropdown" class="dropdown-content">
        <li><a href="{% url 'expense_list' %}">View All</a></li>
        <li><a href="{% url 'expense_create' %}">Create</a></li>
    </ul>

    <ul id="company_dropdown" class="dropdown-content">
        <li><a href="{% url 'company_list' %}">View All</a></li>
        <li><a href="{% url 'company_create' %}">Add</a></li>
    </ul>

    <ul id="user_dropdown" class="dropdown-content">
        {% if user.is_staff or user.is_superuser %}
            <li><a href="/admin/">Admin</a></li>
        {% endif %}
        {% if user.is_authenticated %}
            <li><a href="{% url 'profile_detail' user.id %}">Profile</a></li>
        {% endif %}
        <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
</header>


<main>
    <div class="container">
        {% block main %}
        {% endblock %}
    </div>
</main>


<footer>
    {% block footer %}
    {% endblock %}
</footer>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/csrf.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax_form_post.js' %}"></script>

    <script>
        $(document).ready(function() {
            $('select').material_select();
            $('.modal').modal();
            $('.collapsible').collapsible();
            $(".dropdown-button").dropdown({
                hover: true
            });
            $('.tooltipped').tooltip({delay: 100});
            $(".button-collapse").sideNav();

            $('.datepicker').pickadate({
                selectMonths: true, // Creates a dropdown to control month
                selectYears: 15, // Creates a dropdown of 15 years to control year,
                today: 'Today',
                clear: 'Clear',
                close: 'Ok',
                closeOnSelect: true, // Close upon selecting a date,
                container: 'body',
                format: 'dd mmm yyyy'
            });

        });
    </script>

    {% block script %}
    {% endblock %}
</html>
