<input type="hidden" name="company_pk" value="{{ company.id|default:0 }}">

<div class="input-field col s12">
    <input type="text" id="company-name-modal" name="name" class="validate" value="{{ company.name|default:'' }}">
    <label for="name"><strong>Name</strong></label>
</div>

<div class="input-field col s12">
    <textarea id="addressInput" name="address" class="materialize-textarea"></textarea>
    <label for="address"><strong>Address</strong></label>
</div>

<div class="input-field col s12">
    <input type="email" name="email" class="validate" value="{{ company.email|default:'' }}">
    <label for="emailInput"><strong>Email</strong></label>
</div>

<div class="input-field col s6">
    <input type="text" name="person" class="validate" value="{{ company.person|default:'' }}">
    <label for="person">Person</label>
</div>

<div class="input-field col s6">
    <input type="text" name="phone" class="validate" value="{{ company.phone|default:'' }}">
    <label for="phone">Phone</label>
</div>

<div class="col s12">
    <input type="checkbox" class="filled-in" id="require_utr" name="require_utr"
    {% if company.require_utr %}checked="checked"{% endif %}>
    <label for="require_utr">Require UTR</label>
</div>
