<div class="row description-row">
    <div class="col s6">
        <div class="panel">
            <div class="panel-heading">
                Company Details
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Address</dt>
                    <dd>{{ company.address|linebreaksbr }}</dd>

                    <dt>Email</dt>
                    <dd>{{ company.email }}</dd>
                </dl>
            </div>
        </div>
    </div>
    <div class="col s1"></div>
    <div class="col s5">
        <div class="panel">
            <div class="panel-heading">
                Company Stats
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Total Invoices</dt>
                    <dd>{{ company.total_invoices }}</dd>

                    <dt>Latest Invoice</dt>
                    <dd>
                        {% if company.latest_invoice %}
                        <a class="orange-text text-lighten-1 hover-link" href="{% url 'invoice_detail' company.latest_invoice.pk %}">
                            {{ company.latest_invoice.invoice_number }}
                        </a>
                        {% endif %}
                    </dd>

                    <dt>Not Paid</dt>
                    <dd>{{ not_paid_count }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <table class="bordered highlight">
        <thead>
            <tr>
                <th>Invoice</th>
                <th>Invoice Number</th>
                <th>Created</th>
                <th>Amount</th>
                <th>Paid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for invoice in all_invoices %}
            <tr>
                <td><a class="hover-link orange-text text-lighten-1" href="{% url 'invoice_detail' invoice.pk %}">{{ invoice }}</a></td>
                <td>{{ invoice.invoice_number }}</td>
                <td>{{ invoice.created.date }}</td>
                <td>£ {{ invoice.total|floatformat:2 }}</td>
                <td><i class="material-icons text-lighten-1{% if invoice.paid %} green-text">done{% else %} grey-text">clear{% endif %}</i></td>
                <td>{% include 'helpers/table_buttons.html' %}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
