{% extends 'base.html' %}

{% block title %}Company List{% endblock %}

{% block main %}

<h1>Company List</h1>

<table class="bordered highlight">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Email</th>
            <th>Total Invoices</th>
            <th>Latest Invoice</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for company in object_list %}
        <tr>
            <td>
                <a class="hover-link orange-text text-lighten-1" href="{% url 'company_detail' company.pk %}">
                    {{ company.name }}
                </a>
            </td>
            <td>{{ company.email }}</td>
            <td>{{ company.total_invoices }}</td>
            <td>
                {% if company.latest_invoice %}
                    <a class="hover-link orange-text text-lighten-1" href="{% url 'invoice_detail' company.latest_invoice.pk %}">
                        {{ company.latest_invoice.invoice_number }}
                    </a>
                {% endif %}
            </td>
            <td>
                <a class="tooltipped light-blue-text text-lighten-1" data-position="top" data-tooltip="View Company" href="{% url 'company_detail' company.pk %}">
                    <i class="material-icons icon-hoverable">visibility</i>
                </a>
                <a class="tooltipped orange-text text-lighten-1" data-position="top" data-tooltip="Edit Company" href="{% url 'company_edit' company.pk %}">
                    <i class="material-icons icon-hoverable">edit</i>
                </a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
