{% extends 'base.html' %}
{% load invoice_tags %}

{% block title %}Company Create{% endblock %}

{% block main %}

    <h4>
        {% if company.name %}
            {{ company.name }} {% if edit %} <span class="grey-text text-lighten-1">- Edit</span> {% endif %}
        {% else %}
            New Company
        {% endif %}
    </h4>

    <div class="divider"></div>

    {% if edit or not company.pk %}

        <form method="POST" role="form" class="row" id="company-form">
            {% csrf_token %}
            {% include 'company_form.html' %}

    {% else %}
        {% include 'company_detail.html' %}
    {% endif %}

            <div class="fixed-action-btn horizontal">
                <a class="btn-floating btn-large red">
                  <i class="material-icons">menu</i>
                </a>
                <ul>
                    <!-- Reverse Order -->
                    {% if edit and company.pk %}
                        <li><a class="btn-floating pink lighten-1" onclick="showDeleteModal('{{ company }}', {{ company.pk }}, 'Company')"><i class="material-icons">delete</i></a></li>
                    {% endif %}
                    {% if not edit and company.pk %}
                        <li><a href="edit/" class="btn-floating"><i class="material-icons">edit</i></a></li>
                    {% elif not company.pk or edit %}
                        <li><button name="action" type="submit" class="btn-floating light-blue lighten-1"><i class="material-icons">save</i></button></li>
                    {% endif %}
                </ul>
            </div>
        </form>

    {% include 'delete_modal.html' with type='company' %}

{% endblock %}

{% block script %}

    {% if edit %}
    <script>
        $('#addressInput').val("{{ company.address|linebreaksn|default_if_none:'' }}").trigger('autoresize');
    </script>
    {% endif %}



{% endblock %}
