<div id="deleteModal" class="modal">
    <div class="modal-content">
        <h4>Delete <span id="deleteStatus"></span>?</h4>
        <div class="divider"></div>
        <p>Are you sure you want to delete <span class="orange-text" id="deleteContent"></span></p>
        {% if type == 'company' %}
            <p>This will set all associated invoices to having <i>None</i> company</p>
        {% endif %}
    </div>
    <div class="modal-footer">
        <a class="modal-action modal-close waves-effect waves-green btn-flat">Nope</a>
        <a id="delete_modal_confirm" class="modal-action modal-close waves-effect waves-red btn-flat">Yes</a>
    </div>
</div>
