<table class="table highlight">
    <thead>
    <tr>
        <th>Description</th>
        <th>Cost</th>
        {% if edit %}
            <th class="center-align">
                <a onclick="getExpenseItemsForModal(0, {{ invoice.pk }})" class="btn-floating orange lighten-2">
                    <i class="material-icons">add</i>
                </a>
            </th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for item in expense_list.all %}
        <tr>
            <td class="_width_70"><i>{{ item.description }}</i></td>
            <td>£ {{ item.cost|floatformat:2 }}</td>
            {% if edit %}
                <td class="center-align">
                    <a class="tooltipped light-blue-text text-lighten-1" data-position="top" data-tooltip="Edit Expense" onclick="getExpenseItemsForModal({{ item.pk }}, {{ item.invoice.pk }})">
                        <i class="material-icons icon-hoverable">edit</i>
                    </a>
                    <a class="tooltipped red-text text-lighten-1" data-position="top" data-tooltip="Delete Expense" onclick="deleteExpenseItem({{ item.pk }}">
                        <i class="material-icons icon-hoverable">delete</i>
                    </a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <td class="right"><strong>Total</strong></td>
            <td><strong>£ {{ invoice.expenses_total|default:0|floatformat:2 }}</strong></td>
        </tr>
    </tfoot>
</table>
