{% if expense_view == 'list' or expense_view == 'detail' %}
    <td>
        {% if item.invoice %}
            <a class="hover-link orange-text text-lighten-1" href="{% url 'invoice_detail' item.invoice.pk %}">{{ item.invoice.invoice_number }}</a>
        {% endif %}
    </td>
{% endif %}
{% if expense_view == 'list' or expense_view == 'invoice' %}
    <td>{% if item.group %}<a class="hover-link orange-text" href="{% url 'expense_group_detail' item.group.pk %}">{{ item.group }}</a>{% else %}-{% endif %}</td>
{% endif %}
<td>{{ item.created.date }}</td>
<td class="_width_70"><i>{{ item.description }}</i></td>
<td>£{{ item.cost|floatformat:2 }}</td>
{% if edit or expense_view == 'list' %}
    <td class="right-align">
        <a class="tooltipped light-blue-text text-lighten-1" data-position="top" data-tooltip="Edit Expense" onclick="getExpenseItemsForModal([{{ item.pk }}, {{ item.invoice.pk|default:0 }}, {{ item.group.pk|default:0 }}])">
            <i class="material-icons icon-hoverable cursor_pointer">edit</i>
        </a>
        <a class="tooltipped red-text text-lighten-1" data-position="top" data-tooltip="Delete Expense" onclick="openDeleteModal({{ item.pk }})">
            <i class="material-icons icon-hoverable cursor_pointer">delete</i>
        </a>
    </td>
{% endif %}
