<input type="hidden" name="expense_pk" id="expense_pk" value="{{ expense.pk|default:0 }}">
<input type="hidden" name="redirect_on_save" value="{{ redirect_on_save|default:0 }}">

<div class="input-field col s12">
    <input type="text" id="invoice-autocomplete" name="invoice" class="autocomplete" onclick="this.select()" {% if expense.invoice or invoice %}readonly{% endif %} value="{% if expense %}{{ expense.invoice }}{% elif invoice %}{{ invoice }}{% else %} {% endif %}">
    <label for="invoice-autocomplete">Invoice</label>
</div>

<div class="input-field col s12">
    <input type="text" id="group-autocomplete" name="group" class="autocomplete" onclick="this.select()" value="{{ expense_group|default:'' }}">
    <label for="group-autocomplete">Group</label>
</div>

<div class="input-field col s6">
    <input type="text" name="description" class="validate" value="{% if not add %}{{ expense.description|default:'' }}{% endif %}">
    <label for="description">Description</label>
</div>

<div class="input-field col s6">
    <input type="number" name="cost" class="validate" value="{% if not add %}{{ expense.cost|default:'' }}{% endif %}" min="0" max="99999999.99" step="0.01">
    <label for="cost">Cost</label>
</div>

<div>
    <script>
        $('#expense-form').on('submit', function(event){
            event.preventDefault();
            var expense_pk = $('#expense_pk').val();
            updateExpense(expense_pk);
            $('#expenseModal').modal('close');
            return false;
        });
    </script>

    <script>
        $(document).ready(function() {
            $('#invoice-autocomplete').autocomplete({
                data: {
                    {% for invoice in invoices %}
                        "{{ invoice }}": null,
                    {% endfor %}
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 1 // The minimum length of the input for the autocomplete to start. Default: 1.
            });

            $('#group-autocomplete').autocomplete({
                data: {
                    {% for group in groups %}
                        "{{ group }}": null,
                    {% endfor %}
                },
                limit: 20, // The max amount of results that can be shown at once. Default: Infinity.
                onAutocomplete: function (val) {
                    // Callback function when value is autcompleted.
                },
                minLength: 1 // The minimum length of the input for the autocomplete to start. Default: 1.
            });
        });
    </script>
</div>
