{% extends 'base.html' %}

{% block main %}

<h4>
    Expenses in - <span class="orange-text">{{ object.name }}</span>
</h4>


    <div class="divider"></div>

<div class="row description-row">
    <div class="col s6">
        <div class="panel">
            <div class="panel-heading">
                Expense Details
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Invoices</dt>
                    <dd>{{ object.num_invoices }}</dd>

                    <dt>Expenses Total</dt>
                    <dd>£ {{ object.expenses_total }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>

<div class="row" id="expense-table">
    {% include 'expense_table.html' with edit='true' detail='true' %}
</div>

{% include 'expense_modal.html' %}

{% endblock %}
