{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block main %}
    <h5 class="grey-text text-darken-3 _pad_05_top">Welcome back {{ user.first_name }}, you have {{ not_paid_count }} invoice{% if not_paid_count != 1 %}s{% endif %} waiting to be paid.</h5>
    <div class="divider"></div>

    <div class="row description-row">
        <div class="col s5">
            <div class="panel">
                <div class="panel-heading">
                    Quick Actions
                </div>
                <div class="panel-body quick-actions">
                    <a href="{% url 'invoice_create' %}" class="icon-btn grey white-text z-depth-1" icon="&#xE145;">New Invoice</a>
                    <a href="{% url 'invoice_list' %}" class="icon-btn grey white-text z-depth-1" icon="&#xE896;">View Invoices</a>
                    <a href="{% url 'company_list' %}" class="icon-btn grey white-text z-depth-1" icon="&#xE896;">View Companies</a>
                </div>
            </div>

            <div class="panel _margin_2_top">
                <div class="panel-heading">
                    Useful Things
                </div>
                <div class="panel-body">
                    {{ not_paid_count }} invoice{% if not_paid_count != 1 %}s{% endif %} waiting to be paid
                    <br>
                    Totalling £{{ not_paid_total }}
                    <br>
                    {% url 'invoice_detail' last_invoice.pk as latest_invoice_url %}
                    Latest Invoice
                    {% if latest_invoice_url %}<a class="orange-text text-lighten-1 hover-link" href="{{ latest_invoice_url }}">{{ last_invoice.invoice_number }} - {{ last_invoice }}</a>
                    {% else %}
                        <strong>N/A</strong>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s6">
            <div class="panel">
                <div class="panel-heading">
                    Latest Invoices
                    <span class="right"><a class="hover-link orange-text text-lighten-2" href="{% url 'invoice_list' %}">View All</a></span>
                </div>
                <div class="panel-body _no_pad_top_bottom">
                    <table class="bordered highlight">
                        <tbody>
                        {% for invoice in latest_invoices %}
                            <tr>
                                <td>
                                    <a class="hover-link orange-text text-lighten-1" href="{% url 'invoice_detail' invoice.pk %}">{{ invoice.company }}</a>
                                </td>
                                <td>{{ invoice.created|date:'d M y' }}</td>
                                <td>£{{ invoice.total|floatformat:2 }}</td>
                                <td><i class="material-icons text-lighten-1{% if invoice.paid %} green-text">done{% else %} grey-text">clear{% endif %}</i></td>
                            </tr>
                        {% empty %}
                            <h6 class="grey-text text-darken-2 pad-s3">
                                No invoices here, maybe you should
                                <a href="{% url 'invoice_create' %}" class="hover-link orange-text">create one</a>
                            </h6>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
            <div class="panel _margin_2_top">
                <div class="panel-heading">
                    Pending Invoices ({{ pending_invoices.count }})
                    <span class="right"><a class="hover-link orange-text text-lighten-2" href="{% url 'invoice_list' %}/?paid=false">View All</a></span>
                </div>
                <div class="panel-body _no_pad_top_bottom">
                    <table class="bordered highlight">
                        <tbody>
                        {% for invoice in pending_invoices|slice:":5" %}
                            <tr>
                                <td>
                                    <a class="hover-link orange-text text-lighten-1" href="{% url 'invoice_detail' invoice.pk %}">{{ invoice.company }}</a>
                                </td>
                                <td class="{% if invoice.sent_date_delta > 30 %}red-text text-lighten-1{% endif %}">
                                    {{ invoice.sent_date_delta|default_if_none:'-' }} day{% if invoice.sent_date_delta is not 1 %}s{% endif %}
                                </td>
                                <td>£{{ invoice.total|floatformat:2 }}</td>
                                <td><i class="material-icons text-lighten-1{% if invoice.paid %} green-text">done{% else %} grey-text">clear{% endif %}</i></td>
                            </tr>
                        {% empty %}
                            <h6 class="grey-text text-darken-2 pad-s3">No invoices pending</h6>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
