{% extends 'base.html' %}
{% load static %}

{% block title %}
    {% if invoice.invoice_number %}
        {{ invoice.invoice_number }}&boxv;{{ invoice.company }}
        {% if edit %}
            - Edit
        {% endif %}
    {% else %}
        New Invoice
    {% endif %}
{% endblock %}

{% block main %}
    <form class="form" role="form" method="POST" id="invoice-form">
    {% csrf_token %}
    <input id="invoice_pk" name="pk" type="hidden" value="{{ invoice.id|default:0 }}">
    <input id="user_pk" name="user" type="hidden" value="{{ user.id|default:0 }}">

    {# Invoice details #}

    <h4>
        {% if invoice.invoice_number %}
            {{ invoice.invoice_number }}&boxv;{{ invoice.company }}
            {% if edit %}
                <span class="grey-text">- Edit</span>
            {% endif %}
        {% else %}
            New Invoice
        {% endif %}
    </h4>

    <div class="divider"></div>

    <div class="row description-row">
        <div class="col s6">
            <div class="panel">
                <div class="panel-heading">Bill To</div>
                <div class="panel-body">
                    {% if edit %}
                        <div class="row">
                            <div class="input-field col s9">
                                <select class="validate" id="company-select" name="company">
                                    <option value="" disabled {% if not invoice.company %}selected{% endif %}>---</option>
                                    {% for company in companies %}
                                        <option value="{{ company.pk }}"
                                                {% if invoice.company.pk == company.pk %}
                                                active selected
                                                {% endif %}
                                        >{{ company }}</option>
                                    {% endfor %}
                                </select>
                                <label for="company-select">Company</label>
                            </div>
                            <div class="col s3">
                                <a class="btn btn-square tooltipped" data-position="top" data-tooltip="Create Company" onclick="showCompanyModal(0)"><i class="material-icons">add</i></a>
{#                                <a class="btn btn-square" onclick="showCompanyModal()"><i class="material-icons">edit</i></a>#}
                            </div>
                            <div class="input-field col s12">
                                <input type="text" id="person" name="person" class="validate" value="{{ invoice.person|default:'' }}">
                                <label for="person">Person</label>
                            </div>
                            <div class="input-field col s12">
                                <input type="tel" id="phone" name="phone" value="{{ invoice.phone|default:'' }}">
                                <label for="phone">Phone - optional</label>
                            </div>
                        </div>
                    {% else %}
                    <dl class="dl-horizontal">
                        <dt>Company</dt>
                        <dd>{{ invoice.company }}</dd>

                        {% if invoice.person %}
                            <dt>Person</dt>
                            <dd>{{ invoice.person }}</dd>
                        {% endif %}

                        <dt>Email</dt>
                        <dd>
                            <a class="hover-link orange-text text-lighten-1" href="mailto:{{ invoice.company.email }}">
                                {{ invoice.company.email }}
                            </a>
                        </dd>

                        <br>
                        <dt>Address</dt>
                        <dd>{{ invoice.company.address|linebreaksbr }}</dd>

                        {% if invoice.phone %}
                            <dt>Phone</dt>
                            <dd>{{ invoice.phone }}</dd>
                        {% endif %}
                    </dl>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col s6">
            <div class="panel">
                <div class="panel-heading">Invoice Details</div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                            <dt>Invoice Created:</dt>
                            <dd>{{ invoice.created.date }}</dd>
                        {% if not edit %}
                            <dt>Invoice Updated:</dt>
                            <dd>{{ invoice.updated }}</dd>

                            <dt>Invoice Number:</dt>
                            <dd>{{ invoice.invoice_number }}</dd>

                            <br>
                            <dt>Paid</dt>
                            <dd>{{ invoice.paid }}</dd>

                            <dt>UTR</dt>
                            <dd>{{ invoice.utr }}</dd>

                            {% if invoice.is_quote %}
                                <dt>Quote</dt>
                                <dd>{{ invoice.is_quote }}</dd>
                            {% endif %}
                        {% endif %}
                    </dl>
                    {% if edit %}
                        <div class="row">
                            <div class="input-field col s12">
                                <input type="text" id="user_invoice_number" name="user_invoice_number" value="{{ invoice.user_invoice_number|default_if_none:'' }}">
                                <label for="user_invoice_number">User Invoice Number - Optional</label>
                            </div>
                            <div class="col s6 _3pad5_left">
                                <input type="checkbox" class="filled-in" id="paid" name="paid"
                                {% if invoice.paid %}checked="checked"{% endif %}>
                                <label for="paid">Paid</label>
                            </div>

                            <div class="col s6">
                                <input type="checkbox" class="filled-in" id="utr" name="utr"
                                {% if invoice.utr %}checked="checked"{% endif %}>
                                <label for="utr">UTR</label>
                            </div>

                            <div class="col s12 _3pad5_left">
                                <input type="checkbox" class="filled-in" id="is_quote" name="is_quote"
                                {% if invoice.is_quote %}checked="checked"{% endif %}>
                                <label for="is_quote">Quote</label>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    {% if edit and not invoice.pk %}
        <div class="row">
            <div class="col s12">
                <button name="action" type="submit" class="btn red"><i class="material-icons left">save</i>Save</button>
                <br>
                <span class="grey-text text-lighten-1"><i>Please save before adding invoice items</i></span>
            </div>
        </div>
    {% endif %}

    {% if invoice.pk %}
        {% include 'item_table.html' %}
    {% endif %}


    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
          <i class="material-icons">menu</i>
        </a>
        <ul>
            <!-- Reverse Order -->
            {% if not edit %}
                <li><a href="/invoice/{{ invoice.id }}/print" target="_blank" class="btn-floating purple lighten-1"><i class="material-icons">print</i></a></li>
                <li><a href="edit/" class="btn-floating"><i class="material-icons">edit</i></a></li>
            {% else %}
                <li><a class="btn-floating pink lighten-1" href="#deleteModalInvoice"><i class="material-icons">delete</i></a></li>
                <li><button name="action" type="submit" class="btn-floating light-blue lighten-1"><i class="material-icons">save</i></button></li>
            {% endif %}
        </ul>
    </div>

    </form>

    <div id="deleteModalInvoice" class="modal">
        <div class="modal-content">
            <h4>Delete Invoice</h4>
            <p>Are you sure you want to delete <strong>{{ invoice.invoice_number }}&boxv;{{ invoice.company }}?</strong></p>
            <p>Invoice total: {{ invoice.total }}</p>
        </div>
        <div class="modal-footer">
            <button onclick="deleteInvoice()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes, I'm Sure</button>
            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
    </div>

    {% include 'item_modal.html' %}
    {% include 'company_modal.html' %}

    {% block script %}
        <script>
            function showItemModal( itemPk ) {
                getItemsForModal( itemPk );
                $('#itemModal').modal('open');
                Materialize.updateTextFields();
            }
        </script>

        <script>
            function showCompanyModal( company_pk ) {
                if (company_pk != 0) {
                    getCompanyForModal( company_pk );
                } else {
                    $('#company-form')[0].reset();
                }
                $('#companyModal').modal('open');
                $('#redirect_on_save').val('0');
                Materialize.updateTextFields();
            }
        </script>

        <script>
            $('#invoice-form').on('submit', function(event){
                event.preventDefault();
                updateInvoice();
                return false;
            });
        </script>

        <script>
            $('#invoice-item-form').on('submit', function(event){
                event.preventDefault();
                updateItem();
                $('#itemModal').modal('close');
                return false;
            });
        </script>

        <script>
            $('#company-form').on('submit', function(event){
                event.preventDefault();
                updateCompany();
                $('#companyModal').modal('close');
                return false;
            });
        </script>

    {% endblock %}
{% endblock %}
