{% extends 'base.html' %}

{% block title %}Invoice List{% endblock %}

{% block main %}

<h2>Invoice List</h2>

<table class="bordered highlight">
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Created</th>
            <th>Amount</th>
            <th>Sent</th>
            <th>Paid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for item in object_list %}
        <tr class="{% if item.is_quote %}blue lighten-5{% endif %}">
            <td><a class="hover-link orange-text text-lighten-1" href="{% url 'invoice_detail' item.pk %}">{{ item }}</a></td>
            <td>{{ item.created.date }}</td>
            <td>£{{ item.total|default:0|floatformat:2 }}</td>
            <td><i class="material-icons text-lighten-1{% if item.sent_date %} green-text">
                done{% else %} grey-text">clear{% endif %}</i></td>
            <td><i class="material-icons text-lighten-1{% if item.paid %} green-text">done{% else %} grey-text">clear{% endif %}</i></td>
            <td>{% include 'helpers/table_buttons.html' with type='invoice' %}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6" class="center-align">
                <h5>Wow, look at all those invoices. Maybe <a href="{% url 'invoice_create' %}" class="hover-link orange-text">create one</a>.</h5>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}
