{% extends 'base.html' %}

{% block title %}Invoice List{% endblock %}

{% block main %}

<h1>Invoice List</h1>

<table class="bordered highlight">
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Invoice Number</th>
            <th>Created</th>
            <th>Amount</th>
            <th>Paid</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in object_list %}
        <tr>
            <td><a class="hover-link orange-text text-lighten-1" href="{% url 'invoice_detail' invoice.pk %}">{{ invoice }}</a></td>
            <td>{{ invoice.invoice_number }}</td>
            <td>{{ invoice.created.date }}</td>
            <td>£ {{ invoice.total|floatformat:2 }}</td>
            <td><i class="material-icons text-lighten-1{% if invoice.paid %} green-text">done{% else %} grey-text">clear{% endif %}</i></td>
            <td>{% include 'helpers/table_buttons.html' %}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}


