<div class="item_table">
    <table class="table highlight">
        <thead>
            <td>Description</td>
            <td>Quantity</td>
            <td>Cost</td>
            <td>Total</td>
            {% if edit %}
                <td style="width: 30%; padding-bottom: 11px;">
                    <a class="btn blue" onclick="showItemModal(0)">Add</a>
                </td>
            {% endif %}
        </thead>
        <tbody>
            {% for item in invoice.items.all %}
                {% include 'item_row.html' %}
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td class="right"><strong>Total</strong></td>
                <td><strong>£ {{ invoice.total|default:0|floatformat:2 }}</strong></td>
            </tr>
        </tfoot>
    </table>
</div>
