<div id="itemModal" class="modal modal-fixed-footer">
    <div class="row">
        <form id="item-form" class="col s12">
            <div class="modal-content">
                <h4 id="editStatus">Add Item</h4>
                <div class="divider" style="margin-bottom: 15px"></div>

                <input id="item_pk" type="hidden" value="">

                <div class="input-field col s12">
                    <input type="text" id="descriptionInput" class="validate">
                    <label for="descriptionInput" id="descriptionInputLabel">Description</label>
                </div>

                <div class="input-field col s12">
                    <input type="number" id="costInput" class="validate" min="-99999999.99" max="99999999.99" step="0.01">
                    <label for="costInput" id="costInputLabel">Cost</label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="action" class="waves-effect waves-green btn-flat">Save</button>
                <a class="modal-action modal-close waves-effect waves-red btn-flat">Close</a>
            </div>
        </form>
    </div>
</div>
