<a class="tooltipped" data-position="top" data-tooltip="View Invoice" href="/invoice/{{ invoice.pk }}">
    <i class="material-icons light-blue-text text-lighten-1">visibility</i>
</a>
<a class="tooltipped" data-position="top" data-tooltip="Edit Invoice" href="/invoice/{{ invoice.pk }}/edit">
    <i class="material-icons orange-text text-lighten-1">edit</i>
</a>
<a class="tooltipped" data-position="top" data-tooltip="Print Invoice" href="/invoice/{{ invoice.pk }}/print" target="_blank">
    <i class="material-icons purple-text text-lighten-1">print</i>
</a>
