<a class="tooltipped light-blue-text text-lighten-1" data-position="top" data-tooltip="View {{ type|title }}" href="/{{ type }}/{{ item.pk }}">
    <i class="material-icons icon-hoverable cursor_pointer">visibility</i>
</a>

<a class="tooltipped orange-text text-lighten-1" data-position="top" data-tooltip="Edit {{ type|title }}" href="/{{ type }}/{{ item.pk }}/edit">
    <i class="material-icons icon-hoverable cursor_pointer">edit</i>
</a>

<a class="tooltipped purple-text text-lighten-1" data-position="top" data-tooltip="Print {{ type|title }}" href="/{{ type }}/{{ item.pk }}/print" target="_blank">
    <i class="material-icons icon-hoverable cursor_pointer">print</i>
</a>
