<a class="tooltipped light-blue-text text-lighten-1" data-position="top" data-tooltip="View Invoice" href="/invoice/{{ invoice.pk }}">
    <i class="material-icons icon-hoverable">visibility</i>
</a>
<a class="tooltipped orange-text text-lighten-1" data-position="top" data-tooltip="Edit Invoice" href="/invoice/{{ invoice.pk }}/edit">
    <i class="material-icons icon-hoverable">edit</i>
</a>
<a class="tooltipped purple-text text-lighten-1" data-position="top" data-tooltip="Print Invoice" href="/invoice/{{ invoice.pk }}/print" target="_blank">
    <i class="material-icons icon-hoverable">print</i>
</a>
