{% extends 'base.html' %}
{% load invoice_tags %}
{% block title %}Profile{% endblock %}

{% block main %}
    <form class="form" method="POST" id="profile-form">
    {% csrf_token %}
    <div class="row description-row">
        <div class="col s6">
            <div class="panel">
                <div class="panel-heading">
                    Base Details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <input type="hidden" name="pk" value="{{ user.pk }}">
                        <div class="input-field col s12">
                            <input type="text" name="first_name" value="{{ user.first_name }}">
                            <label for="first_name">First Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="last_name" value="{{ user.last_name }}">
                            <label for="last_name">Last Name</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="username" value="{{ user.username }}">
                            <label for="username">Username</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="email" name="email" value="{{ user.email }}">
                            <label for="email">Email</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s5">
            <div class="panel">
                <div class="panel-heading">
                    Extra Details
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="input-field col s12">
                            <textarea name="address" id="addressInput" class="materialize-textarea"></textarea>
                            <label for="address">Address</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="tel" name="phone" value="{{ user.phone|default_if_none:'' }}">
                            <label for="phone">Phone</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="utr" value="{{ user.utr|default_if_none:'' }}">
                            <label for="utr">UTR</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="bank" value="{{ user.bank|default_if_none:'' }}">
                            <label for="bank">Bank</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="sort_code" value="{{ user.sort_code|default_if_none:'' }}">
                            <label for="sort_code">Sort Code</label>
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="account_number" value="{{ user.account_number|default_if_none:'' }}">
                            <label for="account_number">Account Number</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel _margin_2_top">
            <div class="panel-heading">
                Invoice Customisation
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="input-field col s6">
                        <input type="text" name="invoice_primary_color" value="{{ user.invoice_primary_color|default_if_none:'' }}">
                        <label for="invoice_primary_color">Primary Color</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="invoice_secondary_color" value="{{ user.invoice_secondary_color|default_if_none:'' }}">
                        <label for="invoice_secondary_color">Secondary Color</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="invoice_accent_color" value="{{ user.invoice_accent_color|default_if_none:'' }}">
                        <label for="invoice_accent_color">Accent Color</label>
                    </div>
                    <div class="input-field col s6">
                        <input type="text" name="invoice_background_color" value="{{ user.invoice_background_color|default_if_none:'' }}">
                        <label for="invoice_background_color">Background Color</label>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
          <i class="material-icons">menu</i>
        </a>
        <ul>
            <li><button name="action" type="submit" class="btn-floating light-blue lighten-1"><i class="material-icons">save</i></button></li>
        </ul>
    </div>
    </form>
{% endblock %}

{% block script %}

    <script>
        $('#addressInput').val("{{ user.address|linebreaksn|default_if_none:'' }}").trigger('autoresize');
    </script>

    <script>
        $('#profile-form').on('submit', function(event){
            event.preventDefault();
            updateProfile();
            return false;
        });
    </script>

{% endblock %}
