{% extends 'base.html' %}
{% block title %}Profile{% endblock %}
{% load invoice_tags %}

{% block main %}
    <div class="row description-row">
        <div class="col s6">
            <div class="panel">
                <div class="panel-heading">
                    Base Details
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>First Name</dt>
                        <dd>{{ user.first_name|default_if_none:'N/A' }}</dd>

                        <dt>Last Name</dt>
                        <dd>{{ user.last_name|default_if_none:'N/A' }}</dd>

                        <dt>Username</dt>
                        <dd>{{ user.username|default_if_none:'N/A' }}</dd>

                        <dt>Email</dt>
                        <dd>{{ user.email|default_if_none:'N/A' }}</dd>

                        <dt>Staff</dt>
                        <dd>{{ user.is_staff }}</dd>

                        <dt>Superuser</dt>
                        <dd>{{ user.is_superuser }}</dd>
                    </dl>
                </div>
            </div>
            <div class="panel _margin_2_top">
                <div class="panel-heading">
                    Invoice Customisation
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Primary Colour</dt>
                        <dd>{{ user.invoice_primary_color|default_if_none:'N/A' }}</dd>

                        <dt>Secondary Colour</dt>
                        <dd>{{ user.invoice_secondary_color|default_if_none:'N/A' }}</dd>

                        <dt>Accent Colour</dt>
                        <dd>{{ user.invoice_accent_color|default_if_none:'N/A' }}</dd>

                        <dt>Background Colour</dt>
                        <dd>{{ user.invoice_background_color|default_if_none:'N/A' }}</dd>

{#                        <dt>Logo</dt>#}
{#                        <dd>#}
{#                            {% if user.invoice_logo %}#}
{#                                <img class="logo-preview" src="{{ user.invoice_logo.url }}">#}
{#                            {% else %}#}
{#                                N/A#}
{#                            {% endif %}#}
{#                        </dd>#}
                    </dl>
                </div>
            </div>
        </div>

        <div class="col s1"></div>
        <div class="col s5">
            <div class="panel">
                <div class="panel-heading">
                    Extra Details
                </div>
                <div class="panel-body">
                    <dl class="dl-horizontal">
                        <dt>Address</dt>
                        <dd>{{ user.address|default_if_none:'N/A'|linebreaksbr }}</dd>

                        <dt>Phone</dt>
                        <dd>{{ user.phone|default_if_none:'N/A' }}</dd>

                        <dt>UTR</dt>
                        <dd>{{ user.utr|default_if_none:'N/A' }}</dd>

                        <dt>Bank</dt>
                        <dd>{{ user.bank|default_if_none:'N/A' }}</dd>

                        <dt>Sort Code</dt>
                        <dd>{{ user.sort_code|default_if_none:'N/A' }}</dd>

                        <dt>Account No.</dt>
                        <dd>{{ user.account_number|default_if_none:'N/A' }}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>

    <div class="fixed-action-btn horizontal">
        <a class="btn-floating btn-large red">
          <i class="material-icons">menu</i>
        </a>
        <ul>
            <li><a href="edit/" class="btn-floating"><i class="material-icons">edit</i></a></li>
        </ul>
    </div>
{% endblock %}
