{% extends 'base.html' %}

{% block title %}Company Create{% endblock %}

{% block main %}

<h4>
{% if company.name %}
    {{ company.name }} {% if edit %} Edit {% endif %}
{% else %}
    New Company
{% endif %}
</h4>

<div class="divider"></div>

{% if edit or not company.pk %}

    <form method="POST" role="form" class="row" id="company-form">
        {% csrf_token %}
        {% include 'company_form.html' %}

        <div class="row">
            <div class="col s12">
                <button name="action" type="submit" class="btn green"><i class="material-icons left">save</i>Save</button>
                {% if company.pk %}
                    <a href="#deleteModal" class="btn red"><i class="material-icons left">delete</i>Delete</a>
                {% endif %}
            </div>
        </div>
    </form>

    <div id="deleteModal" class="modal">
        <div class="modal-content">
            <h4>Delete Company</h4>
            <p>Are you sure you want to delete <strong>{{ company.name }}?</strong></p>
            <p>Invoices: {{ company.total_invoices }}</p>
            <p>{% for invoice in company.list_invoices %}{{ invoice.invoice_number }}{% endfor %}</p>
        </div>
        <div class="modal-footer">
            <button onclick="deleteCompany()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes, I'm Sure</button>
            <a href="#!" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
    </div>

{% else %}
    {% include 'company_detail.html' %}
{% endif %}

{% endblock %}

{% block script %}

    {% if edit %}
    <script>
        $('#addressInput').val('{{ company.address }}');
        $('#addressInput').trigger('autoresize');
    </script>
    {% endif %}

    <script>
        $('#company-form').on('submit', function(event){
            event.preventDefault();
            updateCompany();
            return false;
        });
    </script>

{% endblock %}
