{% extends 'base.html' %}

{% block title %}Company Create{% endblock %}

{% block main %}

<h4>
{% if company.name %}
    {{ company.name }} {% if edit %} Edit {% endif %}
{% else %}
    New Company
{% endif %}
</h4>

{% if edit or not company.pk %}
    {% include 'company_form.html' %}
{% else %}
    {% include 'company_detail.html' %}
{% endif %}

{% endblock %}

{% block script %}

    {% if edit %}
    <script>
        $('#addressInput').val('{{ company.address }}');
        $('#addressInput').trigger('autoresize');
    </script>
    {% endif %}

    <script>
        $('#company-form').on('submit', function(event){
            event.preventDefault();
            updateCompany();
            return false;
        });
    </script>

{% endblock %}
