{% extends 'base.html' %}

{% block title %}Company Create{% endblock %}

{% block main %}

    <h4>
        {% if company.name %}
            {{ company.name }} {% if edit %} <span class="grey-text text-lighten-1">- Edit</span> {% endif %}
        {% else %}
            New Company
        {% endif %}
    </h4>

    <div class="divider"></div>

    {% if edit or not company.pk %}

        <form method="POST" role="form" class="row" id="company-form">
            {% csrf_token %}
            {% include 'company_form.html' %}

    {% else %}
        {% include 'company_detail.html' %}
    {% endif %}

            <div class="fixed-action-btn horizontal">
                <a class="btn-floating btn-large red">
                  <i class="material-icons">menu</i>
                </a>
                <ul>
                    <!-- Reverse Order -->
                    {% if edit and company.pk %}
                        <li><a class="btn-floating pink lighten-1" href="#deleteModalCompany"><i class="material-icons">delete</i></a></li>
                    {% endif %}
                    {% if not edit and company.pk %}
                        <li><a href="edit/" class="btn-floating"><i class="material-icons">edit</i></a></li>
                    {% elif not company.pk or edit %}
                        <li><button name="action" type="submit" class="btn-floating light-blue lighten-1"><i class="material-icons">save</i></button></li>
                    {% endif %}
                </ul>
            </div>
        </form>

    <div id="deleteModalCompany" class="modal">
        <div class="modal-content">
            <h4>Delete Company</h4>
            <p>Are you sure you want to delete <strong>{{ company.name }}?</strong></p>
            <p>Invoices: {{ company.total_invoices }}</p>
            <p>{% for invoice in company.list_invoices %}{{ invoice.invoice_number }}{% endfor %}</p>
        </div>
        <div class="modal-footer">
            <button onclick="deleteCompany()" class="modal-action modal-close waves-effect waves-green btn-flat">Yes, I'm Sure</button>
            <a href="#" class="modal-action modal-close waves-effect waves-red btn-flat">Cancel</a>
        </div>
    </div>

{% endblock %}

{% block script %}

    {% if edit %}
    <script>
        $('#addressInput').val("{{ company.address|default_if_none:'' }}").trigger('autoresize');
    </script>
    {% endif %}

    <script>
        $('#company-form').on('submit', function(event){
            event.preventDefault();
            updateCompany();
            return false;
        });
    </script>

{% endblock %}
