<input type="hidden" id="company_pk" value="{{ company.id|default:0 }}">
<input type="hidden" id="redirectOnSave" value="1">

<div class="input-field col s12">
    <input type="text" id="nameInput" class="validate" value="{{ company.name|default:'' }}">
    <label for="nameInput" id="nameInputLabel">Name</label>
</div>

<div class="input-field col s12">
    <textarea id="addressInput" class="materialize-textarea"></textarea>
    <label for="addressInput" id="addressInputLabel">Address</label>
</div>

<div class="input-field col s12">
    <input type="email" id="emailInput" class="validate" value="{{ company.email|default:'' }}">
    <label for="emailInput" id="emailInputLabel">Email</label>
</div>
