{% extends 'base.html' %}

{% block title %}Invoice List{% endblock %}

{% block main %}

<h1>Company List</h1>

<table class="bordered highlight">
    <thead>
        <tr>
            <th>Company Name</th>
            <th>Company Email</th>
            <th>Total Invoices</th>
            <th>Latest Invoice</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for company in object_list %}
        <tr>
            <td>
                <a href="/company/{{ company.pk }}">
                    <span class="orange-text text-lighten-1">{{ company.name }}</span>
                </a>
            </td>
            <td>{{ company.email }}</td>
            <td>{{ company.total_invoices }}</td>
            <td>
                <a href="/invoice/{{ company.latest_invoice.pk }}/">
                    <span class="orange-text text-lighten-1">{{ company.latest_invoice.invoice_number }}</span>
                </a>
            </td>
            <td>
                <a href="/company/{{ company.pk }}/"><i class="material-icons light-blue-text text-lighten-1">visibility</i></a>
                <a href="/company/{{ company.pk }}/edit/"><i class="material-icons orange-text text-lighten-1">edit</i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
