{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block main %}
    <h5 class="grey-text text-darken-3 _pad_05_top">Welcome back {{ user.first_name }}, you have {{ view.not_paid_count }} invoice{% if view.not_paid != 1 %}s{% endif %} waiting to be paid.</h5>
    <div class="divider"></div>

    <div class="row description-row">
        <div class="col s5">
            <div class="panel">
                <div class="panel-heading">
                    Quick Actions
                </div>
                <div class="panel-body">
                    <a href="/invoice/create/" class="btn index-button grey">New Invoice</a>
                    <a href="/invoice/list/" class="btn index-button grey">View Invoices</a>
                    <a href="/company/list/" class="btn index-button grey">View Companies</a>
                </div>
            </div>

            <div class="panel _margin_2_top">
                <div class="panel-heading">
                    Stats
                </div>
                <div class="panel-body">
                    {{ view.not_paid_count }} invoices waiting to be paid
                    <br>
                    Totalling £ {{ view.not_paid_total }}
                    <br>
                    Latest Invoice <a href="/invoice/{{ view.last_invoice.pk }}/" class="orange-text text-lighten-1">{{ view.last_invoice.invoice_number }}</a>
                </div>
            </div>
        </div>
        <div class="col s1"></div>
        <div class="col s6">
            <div class="panel">
                <div class="panel-heading">
                    Latest Invoices
                </div>
                <div class="panel-body">
                    <table class="bordered highlight">
                        <tbody>
                        {% for invoice in view.latest_invoices %}
                            <tr>
                                <td>
                                    <a href="/invoice/{{ invoice.pk }}/">
                                        <span class="orange-text text-lighten-1">{{ invoice.company }}</span>
                                    </a>
                                </td>
                                <td>{{ invoice.created|date:'m-d-y' }}</td>
                                <td>£ {{ invoice.total|floatformat:2 }}</td>
                                <td><i class="material-icons{% if invoice.paid %} green-text">done{% else %} red-text">clear{% endif %}</i></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
