{% extends 'base.html' %}

{% block title %}Invoice List | {% endblock %}

{% block main %}

<h1>Invoice List</h1>

<table class="bordered highlight">
    <thead>
        <tr>
            <th>Invoice</th>
            <th>Invoice Number</th>
            <th>Created</th>
            <th>Amount</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for invoice in object_list %}
        <tr>
            <td>
                <a href="/invoice/{{ invoice.pk }}">
                    <span class="orange-text text-lighten-1">{{ invoice }}</span>
                </a>
            </td>
            <td>{{ invoice.invoice_number }}</td>
            <td>{{ invoice.created.date }}</td>
            <td>{{ invoice.total }}</td>
            <td>
                <a href="/invoice/{{ invoice.pk }}"><i class="material-icons light-blue-text text-lighten-1">visibility</i></a>
                <a href="/invoice/{{ invoice.pk }}/edit"><i class="material-icons orange-text text-lighten-1">edit</i></a>
                <a href="/invoice/{{ invoice.pk }}/print" target="_blank"><i class="material-icons purple-text text-lighten-1">print</i></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}


